use flake --impure

export EMAIL_HOST="localhost"
export EMAIL_PORT="1025"
export SECRET_KEY="dummy"
export DJANGO_SETTINGS_MODULE="{{ cookiecutter.project_slug }}.config.settings.dev"
export DATABASE_URL="postgresql:///{{ cookiecutter.project_slug }}"
export ALLOWED_HOSTS="localhost, {{ cookiecutter.project_slug }}.localhost"
export STATIC_ROOT="/tmp"

watch_file flake.nix
watch_file flake.lock
watch_file default.nix
watch_file shell.nix
watch_file src/assets/default.nix
{% if cookiecutter.packaging == "poetry" %}
watch_file pyproject.toml
{% elif cookiecutter.packaging == "nix" %}
watch_file requirements.nix
watch_file requirements_dev.nix
{% endif %}

source_env_if_exists .envrc.local
